pipeline/COPY_LOOKUP_FOREACH_FILTER.json
{
	"name": "COPY_LOOKUP_FOREACH_FILTER",
	"properties": {
		"activities": [
			{
				"name": "Lookup Controller",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_gen_csv",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "controller",
							"folder_name": {
								"value": "@toLower('')",
								"type": "Expression"
							},
							"file_name": "controller_tables.csv",
							"delimiter": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Controller",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Controller').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().load_table, '1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_gen_sql_local",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@item().schema_source",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().table_source",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_gen_csv",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@item().container_target",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@toLower('')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().file_target, '.csv')",
											"type": "Expression"
										},
										"delimiter": ";"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}